<!DOCTYPE html>
<html>
<head>
  <title>FirewallRules</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/underscore.js" %>
  <%= javascript_include_tag "/javascripts/backbone.js" %>
  <%= javascript_include_tag "/javascripts/application.js" %>
  <%= javascript_include_tag "/javascripts/routers/hosts.js" %>
  <%= javascript_include_tag "/javascripts/models/host.js" %>
  <%= javascript_include_tag "/javascripts/views/index.js" %>
  <%= javascript_include_tag "/javascripts/views/edit.js" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
